name: RETAIL_SALES_PREDICTION-ML-CICD

on:
  push:
    branches: [ "main" ]

env:
  AWS_REGION: ap-south-1
  ECR_REPOSITORY: retail-sales-api
  CONTAINER_NAME: retail-sale-api
  APP_PORT: "8000"

jobs:
  integration:
    name: Continuous Integration
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Lint (placeholder)
        run: echo "Add ruff/flake8 here"

      - name: Tests (placeholder)
        run: echo "Add pytest here"
